@model PFG.QisQualityControl.Web.ViewModels.ChangePasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "修改密碼";
    UserModel userModel = ViewBag.UserModel;

}

<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h4>修改密碼</h4>
</div>
<div class="modal-body">
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { @id = "add-form", @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.OldPassword, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-4">
                @Html.PasswordFor(x => x.OldPassword, new { @class = "input-sm", placeholder = "請輸入長度4~12位數之間的密碼", autocomplete = "off" })
                <br />
                @Html.ValidationMessageFor(x => x.OldPassword)
            </div>
            <div class="col-sm-offset-6"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-4">
                @Html.PasswordFor(x => x.NewPassword, new { @class = "input-sm", placeholder = "輸入新密碼", autocomplete = "off" })
                <br />
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
            <div class="col-sm-offset-6"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-4">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-sm", placeholder = "確認新密碼", autocomplete = "off" })
                <br />
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="col-sm-offset-6"></div>
        </div>
        <!-- hidden area -->
        @Html.AntiForgeryToken()
    }
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary btn-save">修改密碼</a>

    <a href="#" class="btn" data-dismiss="modal">關閉</a>
</div>

<script type="text/javascript">

    $(function () {

        var sucess = function () {
            $('#showDialog').modal('hide');
        };

        $("#add-form").submit(sucess, commonjs.formSubmitHandler);
        $(".btn-save").click(function (e) {
            $("#add-form").submit();
            e.preventDefault();
        });
    });
</script>
